---
layout: default
---
<div class="col-sm-12  main-layout">
 <u><h1 > Recent Posts </h1></u>
<br>
{% for post in site.posts limit:3 %}
	<div class="post-preview col-sm-4">
    <u><h2><a href="{{ post.url }}">{{ post.title }}</a></h2></u>
   <i>{{ post.date | date_to_string }}</i>
		{{ post.content | split:'<!--break-->' | first }}
    {% if post.content contains '<!--break-->' %}
    {% endif %}
    <u><div align = "right"><a href="{{ post.url }}">Read More</a></u>&nbsp;&raquo;</div>
  </div>
{% endfor %}
  </div>



<div class="col-sm-12  main-layout">
    <hr>
  <u><h1>Posts</h1></u>
  <div class="posts">
    {% for post in paginator.posts %}
    <div class="col-sm-6">
      <i>{{ post.date | date_to_string }}</i>&nbsp;&raquo;&nbsp;
      
     <a style = "line-height: 1.5em; font-weight: 300; font-size: 20px " href="{{ post.url }}">
     {{ post.title }}
     </a>
  
    </div>
    {% endfor %}
  </div>
</div>

 
<div class="col-sm-12  main-layout">
  <!-- Pagination links -->
  {% if paginator.total_pages > 1 %}
    <ul class="pagination pagination-sm">
      {% if paginator.previous_page %}
        <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span aria-hidden="true">&laquo;</span></li>
      {% endif %}

      <li><a href="/">First</a></li>

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <li class="active"><a>{{ page }}<span class="sr-only">(current)</span></a></li>
        {% elsif page == 1 %}
          <li><a href="/">{{ page }}</a></li>
        {% else %}
          <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
        {% endif %}
      {% endfor %}

      <li><a href="/page/{{ paginator.total_pages }}/">Last</a></li>

      {% if paginator.next_page %}
        <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}
  <br>
  <br>
</div><!-- end #home -->
