{{ define "main" }}
<div class="container py-5">
  <h1 class="mb-4">{{ .Title }}</h1>
  
<div class="articles-list">
  {{ range .Pages }}
    <a href="{{ .RelPermalink }}" class="article-list-item">
      <span class="article-list-title">{{ .Title }}</span>
      <span class="article-list-meta">
        <i class="far fa-calendar-alt"></i> {{ .Date.Format "Jan 2, 2006" }}
        <span class="mx-1">•</span>
        <i class="far fa-clock"></i> {{ .ReadingTime }} min read
      </span>
    </a>
  {{ end }}
</div>

</div>
{{ end }}
