<footer class="bg-dark text-white py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>{{ .Site.Title }}</h5>
        <p class="text-muted">Modern data engineering patterns and techniques</p>
      </div>
      <div class="col-md-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li><a href="{{ .Site.BaseURL }}" class="text-white">Home</a></li>
          <li><a href="{{ "docs/" | relURL }}" class="text-white">Documentation</a></li>
          <li><a href="{{ "blog/" | relURL }}" class="text-white">Blog</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Connect</h5>
        <ul class="list-unstyled">
          <li><a href="https://github.com/aakashkh/data-patterns" class="text-white">GitHub</a></li>
        </ul>
      </div>
    </div>
    <hr class="mt-4 bg-secondary">
    <div class="text-center text-muted">
      <small>&copy; {{ now.Format "2006" }} {{ .Site.Title }}. All rights reserved.</small>
    </div>
  </div>
</footer>
